@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.text-small {
  font-size: 80%;
}

.text-grey {
  color: #a0a0a0 !important;
}

.section-1 {
  position: relative;
  height: 80vh;
  width: 100%;
  background: url("../img/bg-landing-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 48em) {
  .section-1 {
    background: url("../img/bg-landing.png");
    background-size: cover;
    height: 65vh;
  }
}

.section-1 img {
  max-width: 100%;
}

.section-1 .logo {
  margin-top: 4em;
}

.section-1 .logo img {
  width: 200px;
}

@media screen and (min-width: 48em) {
  .section-1 .logo img {
    width: 250px;
  }
}

@media screen and (min-width: 64em) {
  .section-1 .logo img {
    width: 400px;
  }
}

.section-1 .tagline img {
  width: 100%;
  max-width: 300px;
}

@media screen and (min-width: 64em) {
  .section-1 .tagline img {
    max-width: 400px;
  }
}

.section-1 .badge-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 100%;
  margin-top: 1em;
}

.section-1 .badge-nav * {
  cursor: pointer;
}

@media screen and (min-width: 48em) {
  .section-1 .badge-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 4em;
  }
}

.section-1 .badge-nav img {
  width: 100%;
  max-width: 300px;
}

@media screen and (min-width: 48em) {
  .section-1 .badge-nav img {
    max-width: 250px;
  }
}

@media screen and (min-width: 64em) {
  .section-1 .badge-nav img {
    max-width: 300px;
  }
}

.section-2 {
  position: relative;
  width: 100%;
  z-index: 2;
  background-color: #ffefe7;
  background-image: url("../img/bg-landing-3-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  padding: 3em 0;
  color: #ffffff;
}

@media screen and (min-width: 48em) {
  .section-2 {
    background-image: url("../img/bg-landing-2.png");
    background-position: top center;
  }
}

@media screen and (min-width: 75em) {
  .section-2 {
    background-size: 100%;
  }
}

.section-2 h1 {
  margin-top: 2em;
  padding: 0;
}

@media screen and (min-width: 75em) {
  .section-2 h1 {
    margin-top: 5em;
  }
}

.section-2 p {
  font-family: "Poppins-Light", sans-serif;
  margin-bottom: 2.5em;
}

.section-3 {
  position: relative;
  width: 100%;
  background-image: url("../img/bg-grain.png");
  background-position: top center;
  background-size: cover;
  padding: 0 0 3em 0;
}

.section-3 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-3 .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0;
}

.section-3 .header img {
  width: 100%;
  max-width: 300px;
}

.section-3 .card-wrapper {
  background-color: #ffffff;
  padding: 1em;
  width: 100%;
  max-width: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  -webkit-box-shadow: 1.9px 1.8px 3.8px rgba(0, 0, 0, 0.035), 15px 14px 30px rgba(0, 0, 0, 0.07);
          box-shadow: 1.9px 1.8px 3.8px rgba(0, 0, 0, 0.035), 15px 14px 30px rgba(0, 0, 0, 0.07);
}

.footer {
  background: #231f20;
  border-radius: 16px 16px 0 0;
  padding: 4em 0 4em 0;
  color: #ffffff;
  font-family: "Poppins-Light", sans-serif;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 64em) {
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer .brandsite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (min-width: 64em) {
  .footer .brandsite {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .brandsite img {
  width: 100%;
  max-width: 4em;
}

@media screen and (min-width: 64em) {
  .footer .brandsite img {
    max-width: 6em;
  }
}

.footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 64em) {
  .footer .contact h4 {
    margin-top: 0;
  }
}

.footer .contact span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .contact span i {
  margin-right: 6px;
}

.footer .message h4 {
  margin-bottom: 0;
}

@media screen and (min-width: 64em) {
  .footer .message h4 {
    margin-top: 0;
  }
}

.footer .logo {
  padding: 2em 0 0 0;
}

@media screen and (min-width: 64em) {
  .footer .logo {
    padding: 0;
  }
}

.footer .logo img {
  width: 100%;
  max-width: 4em;
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff2") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  padding: 0;
  margin: 70px 0 0 0;
  font-family: Poppins, "sans-serif";
}

.container {
  width: 92%;
  max-width: 960px;
  margin: 0 auto;
}

@media screen and (min-width: 48em) {
  .container {
    width: 94%;
  }
}

@media screen and (min-width: 75em) {
  .container {
    max-width: 1280px;
  }
}

.navbar-grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: #231f20;
  -webkit-box-shadow: 0px 9px 9px rgba(152, 71, 69, 0.5);
          box-shadow: 0px 9px 9px rgba(152, 71, 69, 0.5);
  border-radius: 0 0 12px 12px;
}

.nav {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-brand img {
  width: 5em;
  max-width: 5em;
}

.nav-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  font-family: Poppins-Light, sans-serif;
  background-color: #231f20;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media screen and (min-width: 48em) {
  .nav-menu {
    position: relative;
    right: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav-list {
  list-style: none;
  padding-left: 2em;
  padding-top: 2em;
}

@media screen and (min-width: 48em) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 1.2em;
            column-gap: 1.2em;
    padding: 0;
  }
}

.nav-item {
  margin-bottom: 1em;
}

@media screen and (min-width: 48em) {
  .nav-item {
    margin: 0;
  }
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
}

.nav-close {
  font-size: 26px;
}

@media screen and (min-width: 48em) {
  .nav-close {
    display: none;
  }
}

.nav-toggle {
  color: #ffffff;
  font-size: 22px;
}

@media screen and (min-width: 48em) {
  .nav-toggle {
    display: none;
  }
}

.d-none {
  display: none;
}

.show-nav {
  right: 0;
}

@media screen and (min-width: 64em) {
  .mobile-only {
    display: none;
  }
}

.desktop-only {
  display: none;
}

@media screen and (min-width: 64em) {
  .desktop-only {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */